.u-flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    .u-flex {
        position: relative;
        box-sizing: border-box;
        max-width: 100%;
        min-width: 1px;
        // Prevent columns from collapsing when empty
        min-height: 1px;
        max-height: 100%;
    }
}