.grid-demo ::ng-deep .u-row > div:not(.gutter-row):nth-child(odd) {
  background: rgba(0, 146, 255, 0.75);
  padding: 16px 0;
}

.grid-demo ::ng-deep .u-row > div:not(.gutter-row) {
  padding: 16px 0;
  background: #0092ff;
}

.grid-demo ::ng-deep .u-row > div {
  min-height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #fff;
  text-align: center;
  border-radius: 0;
}
