.u-menu-node {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  position: relative;

  svg {
    height: 40px;
    line-height: 40px;
  }

  &:hover {
    color: var(--u-primary);
  }
}

.u-menu-node-selected {
  color: var(--u-primary);
  background-color: var(--u-primary-18);
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 3px solid var(--u-primary);
    content: "";
  }
}

.u-menu-arrow {
  position: absolute;
  right: 16px;
  width: 10px;
}
