.u-layout {
  box-sizing: border-box;
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: var(--u-bg);
}

.u-layout-header {
  height: 64px;
  padding: 0 50px;
  line-height: 64px;
  flex: 0 0 auto;
  display: block;
  color: var(--u-accent-c);
  background: var(--u-accent);
}

.u-layout-content {
  flex: auto;
  min-height: 0;
  display: block;
}

.u-layout-footer {
  padding: 24px 50px;
  color: var(--u-accent-c);
  font-size: 14px;
  background: var(--u-bg);
  flex: 0 0 auto;
  display: block;
}

.u-layout-has-sider {
  flex-direction: row;
}

.u-layout-sider {
  z-index: 2;
}

.u-layout-sider-zero-with-trigger {
  position: absolute;
  top: -53px;
  left: 10px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  .uicon {
    vertical-align: -0.125em;
  }
}
