.u-button {
  position: relative;
  margin: 1em;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-weight: bold;

  // &:not(&.u-button-loading):hover:before, &:not(&.u-button-loading):hover:after{
  //   width: calc(100% - 4px);
  //   height: calc(100% - 4px);
  //   border-color: transparent;
  // }
  
  &:not(&.u-button-loading):hover {
    cursor: pointer;

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      // border-color: #454545;
      box-sizing: border-box;
      border-style: solid;
      width: 1em;
      height:1em;
      transition: all 0.3s ease-in-out;
    }
  
    &:before {
      top: 2px;
      left: 2px;
      border-width: 2px 0 0 2px;
      z-index: 5;
    }
  
    &:after {
      bottom: 2px;
      right: 2px;
      border-width: 0 2px 2px 0;
    }
  }

  &.u-button-loading {
    cursor: not-allowed;

    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      box-sizing: border-box;
      border-style: solid;
      width: 0;
      height: 0;
    }

    &::before {
      top: 2px;
      left: 2px;
      border-width: 2px 0 0 2px;
      animation: border 2s infinite;
    }

    &::after {
      bottom: 2px;
      right: 2px;
      width: 0;
      height: 0;
      border-width: 0 2px 2px 0;
      animation: border 2s 1s infinite;
    }

    @keyframes border {
      0% {
        width: 0;
        height: 0;
      }
      25% {
        width: calc(100% - 4px);
        height: 0;
      }
      50% {
        width: calc(100% - 4px);
        height: calc(100% - 4px);
      }
      100% {
        width: calc(100% - 4px);
        height: calc(100% - 4px);
      }
    }
  }

  &[disabled] {
    color: rgba(0,0,0,.25) !important;
    background: #f5f5f5 !important;
    border-color: #d9d9d9 !important;
    text-shadow: none;
    box-shadow: none;
    cursor: not-allowed !important;
  }
  
}
