:root {
  // 背景色
  --bg: #f0f2f5;
  // 主题色
  --primary: #1890ff;
  // 主题色选中的背景色
  --primary-selected-bg: #e6f7ff;
  // 辅助色
  --accent: #001520;
  // 辅助色的文字色
  --accent-fg: rgba(0, 0, 0.65);
}

// Media queries breakpoints
// Extra small screen / phone
$screen-xs: 480px;
$screen-xs-min: $screen-xs;

// Small screen / tablet
$screen-sm: 576px;
$screen-sm-min: $screen-sm;

// Medium screen / desktop
$screen-md: 768px;
$screen-md-min: $screen-md;

// Large screen / wide desktop
$screen-lg: 992px;
$screen-lg-min: $screen-lg;

// Extra large screen / full hd
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;

// Extra extra large screen / large desktop
$screen-xxl: 1600px;
$screen-xxl-min: $screen-xxl;

// provide a maximum
$screen-xs-max: ($screen-sm-min - 1px);
$screen-sm-max: ($screen-md-min - 1px);
$screen-md-max: ($screen-lg-min - 1px);
$screen-lg-max: ($screen-xl-min - 1px);
$screen-xl-max: ($screen-xxl-min - 1px);

// Grid system
$grid-columns: 24;

// tabIndex会有边框
[tabindex] {
  outline: none !important;
}
