<button type="button" class="u-switch-button" #switchElement [disabled]="uDisabled" [class.u-switch-checked]="isChecked"
  [class.u-switch-disabled]="uDisabled" (keydown)="onKeyDown($event)">
  <span class="u-switch-handle">
  </span>
  <span class="u-switch-inner">
    <ng-container *ngIf="isChecked; else uncheckTemplate">
      <ng-container *uStringTemplateOutlet="uCheckedChildren">{{ uCheckedChildren }}</ng-container>
    </ng-container>
    <ng-template #uncheckTemplate>
      <ng-container *uStringTemplateOutlet="uUnCheckedChildren">{{ uUnCheckedChildren }}</ng-container>
    </ng-template>
  </span>
  <div class="u-click-animating-node"></div>
</button>