@import "../../ng-ueqt/src/styles/variable.scss";

.app-header {
  position: sticky;
  top: 0;
  z-index: 1;
  color: var(--u-primary);
}

.app-sider {
  position: sticky;
  top: 66px;
  height: calc(100vh - 66px);
}

.app-menu {
  overflow: auto;
  height: calc(100vh - 66px);
}

.u-layout-content {
  max-width: calc(100% - 200px);
  width: calc(100% - 2000px);
}

@media (max-width: $screen-xs-max) {
  .u-layout-content {
    max-width: 100%;
    width: 100%;
  }
}

.app-content {
  margin-left: 20px;
  margin-right: 20px;
}
