<!-- ***** 内联样式的垂直树菜单 ***** -->
<cdk-tree *ngIf="uMode === 'inline'" [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for expandable nodes -->
    <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChild" [cdkTreeNodePadding]="node.level" cdkTreeNodePaddingIndent="24" [style.display]="shouldRender(node) ? 'flex' : 'none'" class="u-menu-node u-menu-expandable" (click)="changeExpand(node, !node.isExpanded)">
        <ng-container *ngTemplateOutlet="uCustomNode || defaultNodeInlineTop; context: {node: node}"></ng-container>
        <ng-template #defaultNodeInlineTop let-node="node">
            {{node.name}}
        </ng-template>
        <i [uIcon]="node.isExpanded ? 'up': 'down'" cdkTreeNodeToggle [style.visibility]="expandable(node) ? 'visible' : 'hidden'" class="u-menu-arrow" (click)="changeExpand(node, !node.isExpanded)"></i>
    </cdk-tree-node>
    <!-- This is the tree node template for leaf nodes -->
    <cdk-tree-node *cdkTreeNodeDef="let node" [cdkTreeNodePadding]="node.level" cdkTreeNodePaddingIndent="24" (click)="selectNode(node)" [style.display]=" shouldRender(node) ? 'flex' : 'none'" class="u-menu-node u-tree-node-leaf" [ngClass]="{'u-menu-node-selected': node === selectedNode}">
        <!-- use a disabled button to provide padding for tree leaf -->
        <!-- <button mat-icon-button disabled></button> -->
        <ng-container *ngTemplateOutlet="uCustomNode || defaultNode; context: {node: node}">
        </ng-container>
        <ng-template #defaultNode let-node="node">
            {{node.name}}
        </ng-template>
    </cdk-tree-node>
</cdk-tree>
<!-- ***** 横向菜单 ***** -->
<u-button-group *ngIf="uMode === 'horizontal'">
    <u-button *ngFor="let node of uDatas" [uColor]="node.color || 'transparent'" [uClick]="openPopup" [uClickArgs]="node">
        <ng-container *ngTemplateOutlet="uCustomNode || defaultNodeHTop; context: {node: node}"></ng-container>
        <ng-template #defaultNodeHTop let-node="node">
            {{node.name}}
        </ng-template>
    </u-button>
</u-button-group>
<ng-template #templateMenuPortalContent let-node="node">
    <div tabindex="0" outline="0" hidefocus="true" (focus)="focusPopup()" (blur)="blurPopup()" style="cursor: pointer;">
        <div *ngFor="let subNode of node.children" class="u-menu-popup" (click)="openMorePopup($event, subNode)">
            <ng-container *ngTemplateOutlet="uCustomNode || defaultNodeH; context: {node: subNode}"></ng-container>
            <ng-template #defaultNodeH let-node="node">
                <span class="u-menu-popup-name">{{node.name}}</span>
            </ng-template>
            <i class="u-menu-popup-right" [uIcon]="subNode.isExpanded ? 'right': 'left'" [style.visibility]="expandable(subNode) ? 'visible' : 'hidden'"></i>
        </div>
    </div>
</ng-template>
<!-- ***** 竖向菜单 ***** -->
<div *ngIf="uMode === 'vertical'">
    <div *ngFor="let node of uDatas" class="u-menu-vertical-node u-menu-popup" (click)="openPopup(null, node, findPopupRef($event.target)) && changeExpand(node, !node.isExpanded)">
        <ng-container *ngTemplateOutlet="uCustomNode || defaultNodeHTop; context: {node: node}"></ng-container>
        <ng-template #defaultNodeHTop let-node="node">
            {{node.name}}
        </ng-template>
        <i class="u-menu-arrow" [uIcon]="node.isExpanded ? 'right': 'left'" [style.visibility]="expandable(node) ? 'visible' : 'hidden'"></i>
    </div>
</div>