<ng-container *ngIf="listOfUTabComponent">
    <u-tabs-nav [selectedIndex]="uSelectedIndex">
        <div uTabLabel [class.u-tabs-tab-active]="uSelectedIndex == i" [disabled]="tab.uDisabled" (click)="clickLabel(i, tab.uDisabled)" *ngFor="let tab of listOfUTabComponent; let i = index">
            <ng-container [ngTemplateOutlet]="tab.uCustomTitle || defaultTitle"></ng-container>
            <ng-template #defaultTitle>
                {{ tab.uTitle }}
            </ng-template>
        </div>
    </u-tabs-nav>
    <div #tabContent class="u-tabs-content" [style.margin-left.%]="-(uSelectedIndex || 0) * 100">
        <u-tab-body class="u-tabs-tabpane" *ngFor="let tab of listOfUTabComponent; let i = index" [active]="uSelectedIndex == i" [content]="tab.template || tab.content"></u-tab-body>
    </div>
</ng-container>