.u-switch {

  .u-switch-button {
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    min-width: 44px;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    background-color: rgba(0,0,0,.25);
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    transition: all .2s;
    user-select: none;
  }

  .u-switch-checked {
    background-color: var(--u-primary);
  }

  .u-switch-checked .u-switch-inner {
    margin: 0 25px 0 7px;
  }

  .u-switch-inner {
    display: block;
    margin: 0 7px 0 25px;
    color: var(--u-primary-c);
    font-size: 12px;
    transition: margin .2s;
  }

  .u-switch-handle {
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
  }

  .u-switch-checked .u-switch-handle {
    left: calc(100% - 18px - 2px);
  }

  .u-switch-handle, .u-switch-handle:before {
    position: absolute;
    transition: all .2s ease-in-out;
  }

  .u-switch-handle:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 2px 4px 0 rgb(0 35 11 / 20%);
    content: '';
  }
}